site_name: News Deframer

site_url: https://deframer.github.io

theme:
  name: material
  custom_dir: overrides
  favicon: assets/icon.svg
  logo: assets/icon.svg
  palette:
    # Palette toggle for light mode
    - scheme: default
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy

plugins:
  - i18n:
      docs_structure: folder
      reconfigure_material: true
      languages:
        - locale: en
          name: English
          default: true
          build: true
          nav:
            - News Deframer: index.md
            - Screenshots:  screenshots/index.md
            - Status & TODO: todo.md
            - License (MIT): license.md
          copyright: Copyright &copy; 2026
        - locale: de
          name: Deutsch | German
          build: true
          nav:
            - News Deframer: index.md
            - Screenshots:  screenshots/index.md
            - Status & TODO: todo.md
            - Lizenz (MIT): license.md
          copyright: Copyright &copy; 2026
  - search
  - glightbox

extra_javascript:
  - js/language-detect.js

extra_css:
  - css/custom.css

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - pymdownx.blocks.caption
