/* Shrink the header and tabs to save vertical space */
.md-header {
  height: 3.6rem;
}

.md-tabs {
  height: 2.0rem;
}

.md-tabs__link {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-top: 0;
  margin-bottom: 0;
  height: 2.0rem;
}

